@(form: Form[formdata.PassageQuestionAnswerData], passageId: Long)

    @main("Answer Passage Questions") {


        @helper.form(routes.SimplePassageController.answerPassageQuestions_submit(passageId)) {

            <!-- https://davidwalsh.name/css-fixed-position and http://stackoverflow.com/questions/11399537/how-do-you-make-a-div-follow-as-you-scroll -->
            <div class="pull-right" style="width:50%; height: 90%; overflow-y: scroll; position:fixed; top:300px; right:2%; padding-bottom:200px;  ">

            @SimplePassage.byId(passageId).text


            </div>


            <div style="padding-left:20px">



                    <p>
                <h3> Multiple Choice Question for @SimplePassage.byId(passageId).title</h3>
                    <!-- Get list of questions and keep in order -->
                    @for(q <- SimplePassage.byId(passageId).questions.toList.sortWith { (o, p) => o.position < p.position }) {
                        <h3></h3>
                        <strong> @PassageQuestionPrompt.byPassageQuestion(q.id).get(0).text </strong>
                        <!-- Get list of choices and keep in order -->
                        @for(c <- q.choices.toList.sortWith { (o, p) => o.position < p.position }) {
                            <div class="radio">
                                <label>
                                    <input type="radio" name="@q.position,@c.position" onchange="setAnswer();" >@PassageQuestionAnswer.byPassageQuestionChoice(c.id).get(0).text
                                </label>

                            </div>
                        }
                        <br>
                        <br>
                        }
                    <br>

                    <p>
                        <button type="submit" class="btn btn-success">
                            <i class="btn-icon-only icon-check"></i> Submit
                        </button>
                    </p>





        <script>
                /**
                 * This method keeps track of questions being created in the GUI by adding to arrays of questions, choices, correct answers, and other answers.
                 * @param e - HTML element representing the div holding the question information
                 */
                function setAnswer(e){
                    //http://stackoverflow.com/questions/3001474/how-to-get-caller-element-using-javascript
                    var sender = (e && e.target) || (window.event && window.event.srcElement);
                    var name = sender.name;

                    var questionNumber = name.substr(0,name.indexOf(","));

                    var choiceNumber = name.substr(name.indexOf(",") + 1, name.length);

                    var previousAnswers = document.getElementsByName("answers[" + questionNumber + "]");

                    console.log(" correctAnswers[" + questionNumber + "] " + previousAnswers.length);


                    var checkboxes = document.getElementsByTagName("input");
                    if(previousAnswers != null && previousAnswers.length > 0){
                        previousAnswers[0].value = choiceNumber;
                    } else {
                        var hiddenChoiceDiv = '<div style="display:none"><input type="text" name="answers[' + questionNumber + ']" value="' + choiceNumber + '" /> </div>';
                        $(hiddenChoiceDiv).insertAfter(sender);
                    }

                    for(var i = 0; i < checkboxes.length; i++){
                        if(checkboxes[i].type == "radio" && checkboxes[i].name != sender.name){
                            if(checkboxes[i].name.indexOf(questionNumber) == 0) checkboxes[i].checked = false;
                        }
                    }
                }
        </script>

        }
    }