@(form: Form[formdata.SimplePassageData])

    @main("Add a new Passage") {

        @helper.form(routes.SimplePassageController.createSimplePassage_submit) {

            <div>
                <div class="box">
                    <div class="box-header">
                        <i class="icon-plus"></i>
                        <i class="icon-user icon-large"></i>
                        <h5>Add a new Passage</h5>
                    </div>
                    <div class="box-content box-table" style="padding: 10px ;">
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger">
                            @form.globalError.message

                            </div>
                        }
                        <p>

                    <h4>Title</h4>
                        <input type="text" name="passageTitle" placeholder="Passage Title" value="@form("passageTitle").value">

                        <h4>Source</h4>
                        <input type="text" name="source" placeholder="Passage Source" value="@form("source").value">

                            <!--
                    <div style="padding-top:5px; padding-bottom:5px">
                        <button type="submit" class="btn btn-primary" onclick="addTag()"><i class="glyphicon glyphicon-tag"></i>Add Tag</button>
                    </div>
                    -->

                        <form class="form-inline">
                            <div class="form-group">
                                <br>
                                <strong>Tag 1</strong>
                                <div class="input-group">
                                    <input type="text" name="names[0]" placeholder="Tag Name" value="names[0]">

                                    <input type="text" name="descriptions[0]" placeholder="Tag Description" value="descriptions[0]">

                                    <input type="text" name="types[0]" placeholder="Tag Type" value="types[0]">


                                </div>
                            </div>

                        </form>

                        <h4>Passage Body</h4>

                        <input type="text" name="passageText" value="@Html(form("passageText").value)" style="display: none ;">


                        <div id="editor"></div>



                        <button type="button" class="btn btn-primary" onclick="createHTML();">
                            Create</button>

                        <br>
                        <p>


                        </p>
                    </div>
                </div>
            </div>
        }


            <!-- http://quilljs.com/docs/api -->
            <!-- Include the Quill library -->
        <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>

            <!-- Initialize Quill editor -->

        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script>


                function addTag() {
//problem here
                    //http://stackoverflow.com/questions/3001474/how-to-get-caller-element-using-javascript
                    var numTags = document.getElementsByClassName('tag').length;

                    console.log('tag' + numTags);


                    var newTag ='<div class="tag" name="tag' + numTags + '"> Tag' +
                            numTags + '<input type="text" name="names[' + numTags + ']" placeholder="Tag Name" value="names[' + numTags + ']"><label>Anything you want</label><input type="text" name="descriptions[' + numTags + ']" placeholder="Tag Description" value="descriptions[' + numTags + ']"><label>Ex: Grade, Source, Etc</label><input type="text" name="types[' + numTags + ']" placeholder="Tag Type" value="types[' + numTags + ']"></div>';


                    var lastTag = document.getElementsByClassName('tag');


                    var $this = $(lastTag);
                    $(newTag).insertAfter(lastTag[lastTag.length - 1]);
                }

                var configs = {
                    readOnly: false,
                    theme: 'snow',
                    styles: {
                        '.ql-editor' : {
                            'word-wrap': 'break-word',
                            'word-spacing': 'normal',
                            'text-align': 'left',
                            'line-height': '250%',
                            'width': '60%',
                            'font-size': '24'
                        }

                    },
                    formats: ['size', 'underline']
                };




                var quill = new Quill('#editor', configs);

                quill.on('text-change', function(delta, source) {
                    console.log("Called");
                    var element = document.getElementsByName("passageText")[0];
                    element.setAttribute("value", quill.getHTML());
                });

                function trimUnecessary(html) {

                    var passageText = quill.getText();


                    var firstWord = passageText.substring(0, passageText.indexOf(" "));
                    var lastWord = passageText.substring(passageText.lastIndexOf(" ") + 1, passageText.length);


                    var foundFirst = false;
                    var divIndex = 0;
                    for (var i = 0; i < html.length; i++) {
                        if (html.charAt(i) == '<' ) {
                            if (html.charAt(i + 1) == 'd') {
                                divIndex = i;
                            }
                        }

                        if (!foundFirst && html.charAt(i) == firstWord.charAt(0) && html.substring(i, i + firstWord.length) == firstWord) {
                            html = html.substring(divIndex, html.lastIndexOf(".") +  7);
                            foundFirst = true;
                        }

                    }

                    var i = html.length - 1;
                    while(html.charAt(i) != ".") i--;
                    html = html.substring(0, i + 1) + "</div>";



                    return html;
                }

                function createHTML(){


                    var realText = quill.getHTML();

                    console.log("here");

                    $.post(
                            'createPHT?text=' + quill.getText()  + '&title=' + document.getElementsByName("passageTitle")[0].value + "&source=" + document.getElementsByName("source")[0].value ,
                            {'html' : realText },

                            function(data) {
                                console.log("saved");
                                window.location.href = "viewAllPassages";
                            });
                }

        </script>

    }