@(form: Form[formdata.SimplePassageData])

    @main("Add a new Passage") {

        @helper.form(routes.SimplePassageController.createSimplePassage_submit) {

            <div>
                <div class="box">
                    <div class="box-header">
                        <i class="icon-plus"></i>
                        <i class="icon-user icon-large"></i>
                        <h5>Add a new Passage</h5>
                    </div>
                    <div class="box-content box-table" style="padding: 10px ;">
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger">
                            @form.globalError.message

                            </div>
                        }
                        <p>

                    <h4>Title</h4>
                        <input type="text" name="passageTitle" placeholder="Passage Title" value="@form("passageTitle").value">

                        <h4>Source</h4>
                        <input type="text" name="source" placeholder="Passage Source" value="@form("source").value">

                        <br>
                            <div id="tagArea">Tagged as:</div>
                        <br>

                            <!--
                    <div style="padding-top:5px; padding-bottom:5px">
                        <button type="submit" class="btn btn-primary" onclick="addTag()"><i class="glyphicon glyphicon-tag"></i>Add Tag</button>
                    </div>
                    -->


                        <div class="tag">
                            <form class="form-inline">
                                <div class="form-group">
                                    <br>
                                    <strong>Tag This Passage</strong>
                                    <div class="input-group">
                                        <input type="text" id="tag" placeholder="Keyword" value="">
                                        <button type="button" class="btn btn-primary" onclick="realAddTag()"><i class="glyphicon glyphicon-tag"></i> Add Tag</button>
                                    </div>
                                    </div>
                                </form>
                            </div>

                        <h4>Passage Body</h4>

                        <input type="text" name="passageText" value="@Html(form("passageText").value)" style="display: none ;">


                        <div style="outline: 1px solid lightgray; margin-bottom: 10px;">
                            <div id="editor"></div>
                        </div>




                        <button type="button" class="btn btn-primary" onclick="createHTML();">
                            <i class="glyphicon glyphicon-floppy-save"></i> Create</button>

                        <br>
                        <p>


                        </p>
                    </div>
                </div>
            </div>
        }


            <!-- http://quilljs.com/docs/api -->
            <!-- Include the Quill library -->
        <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>

            <!-- Initialize Quill editor -->

        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script>

                // Array to hold PassageTags
                var tags = [];

                // Quill Text Editor Initiliaztion
                var configs = {
                    readOnly: false,
                    theme: 'snow',
                    styles: {
                        '.ql-editor' : {
                            'word-wrap': 'break-word',
                            'word-spacing': 'normal',
                            'text-align': 'left',
                            'line-height': '250%',
                            'width': '60%',
                            'font-size': '24'
                        }

                    },
                    formats: ['size', 'underline']
                };

                var quill = new Quill('#editor', configs);

                /**
                 * Event Method from Quill API that runs whenever even a sigle character is changed in the editor
                 * This method also keeps the HTML fields that Play will bind with the form up to date with
                 * changes in the Quill Editor
                 * */
                quill.on('text-change', function(delta, source) {
                    console.log("Called");
                    var element = document.getElementsByName("passageText")[0];
                    element.setAttribute("value", quill.getHTML());
                });

                /**
                 * Helper function that adds to the list of tags and to the array that stores tags in the background
                 *
                 **/
                function realAddTag(){
                    // Concatenate to plain text list of tags in GUI
                    var str = document.getElementById("tag").value;
                    document.getElementById("tag").value = "";

                    // add to tags array
                    tags = tags.concat(str);
                    console.log(tags[0]);

                    var tagArea = document.getElementById("tagArea");
                    if(tagArea.innerText != "Tagged as:"){
                        tagArea.innerText += ", " + str;
                    } else tagArea.innerText += " " + str;
                }


                /**
                 * Calls ajax method on SimplePassageController to generate teh HTML for this passage
                 * Takes the text from the Quill Text Editor and sends that along with a list of Passage Tags
                 */
                function createHTML(){
                    var realText = quill.getHTML();

                    $.post(
                            'createPHT?text=' + quill.getText()  + '&title=' + document.getElementsByName("passageTitle")[0].value + "&source=" + document.getElementsByName("source")[0].value ,
                            {'html' : realText,
                              'tags' : JSON.stringify(tags)
                            },

                            function(data) {
                                console.log("saved");
                                window.location.href = "viewAllPassages";
                            });
                }

        </script>

    }