@(passage: models.SimplePassage, inst: models.User)

    @main("View All Passages") {

        <link rel="stylesheet" href="/assets/css/easyread.css"></>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <h2>Done!</h2> @flash.get("success")
            </div>
        }

        <div>

            <div id="questions" class="box">

                <div class="box-header">
                    <i class="fa fa-group fa-2x"></i>
                    <h5>View All Passages</h5>
                </div>

                <a class="btn btn-primary" id="add" href="/setNumQ?passageId=@passage.id" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add new Questions
                </a>


                <div class="box-content box-table" style="padding: 10px ;">
                @if(passage.questions.size == 0) {
                    <div class="well">
                        <strong><em>There are no questions in the system!</em></strong>
                    </div>
                } else {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Prompt</th>
                                <th>Correct Answer</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(question <- passage.questions.toList.sortBy(_.position)) {
                            <tr>
                            <td> @question.position</td>
                            <td>@PassageQuestionPrompt.byPassageQuestion(question.id).get(0).text
                            <button class="btn btn-primary" onclick="editPrompt(@question.id);">Edit Prompt</button>
                            </td>
                            <td>@question.correctAnswer</td>
                                <td>

                                    <a href="/editQuestionChoices?questionId=@question.id" class="btn btn-primary">Edit Choices</a>
                                    @if(question.position != 0){
                                        <button class="btn btn-primary" onclick="moveQuestion(@question.id, true);">Move up</button>
                                    }
                                    @if(question.position != passage.questions.toList.sortBy(_.position).size - 1){
                                        <button class="btn btn-primary" onclick="moveQuestion(@question.id, false);">Move Down</button>
                                    }
                                    <button class="btn btn-danger" onclick="deleteQuestion(@question.id, @question.basis_id);">Delete Question</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }

                </div>


                <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

                <script type="text/javascript" src="/assets/javascripts/questions.js"></script>
    }