@(passage: models.SimplePassage, inst: models.User)

    @main("View All Passages") {

        <link rel="stylesheet" href="/assets/css/easyread.css"></>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <h2>Done!</h2> @flash.get("success")
            </div>
        }

        <div>

            <div id="students" class="box">

                <div class="box-header">
                    <i class="fa fa-group fa-2x"></i>
                    <h5>View All Passages</h5>
                </div>

                <a class="btn btn-primary" id="add" href="/setNumQ?passageId=@passage.id" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add new Questions
                </a>


                <div class="box-content box-table" style="padding: 10px ;">
                @if(passage.questions.size == 0) {
                    <div class="well">
                        <strong><em>There are no questions in the system!</em></strong>
                    </div>
                } else {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Prompt</th>
                                <th>Correct Answer</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(question <- passage.questions.toList.sortBy(_.position)) {
                            <tr>
                            <td> @question.position</td>
                            <td>@PassageQuestionPrompt.byPassageQuestion(question.id).get(0).text </td>
                            <td>@question.correctAnswer</td>
                                <td>

                                    <a href="/editQuestionChoices?questionId=@question.id" class="btn btn-primary">Edit Choices</a>
                                    @if(question.position != 0){
                                        <button class="btn btn-primary" onclick="moveQuestion(@question.id, true);">Move up</button>
                                    }
                                    @if(question.position != passage.questions.toList.sortBy(_.position).size - 1){
                                        <button class="btn btn-primary" onclick="moveQuestion(@question.id, false);">Move Down</button>
                                    }
                                    <button class="btn btn-danger" onclick="deleteQuestion(@question.id, @question.basis_id);">Delete Question</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }

                </div>


                <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

                <script type="text/javascript" src="/assets/javascripts/questions.js"></script>

                <script>
                        $('button#deletePassage').click(function() {
                            var button = $(this);
                            button.toggleClass('active');

                            var passageData = $(this).attr('name').split(":|:");
                            var passageId = passageData[0];
                            var passageName = passageData[1];

                            var result = confirm("Are you sure you want to delete passage '" + passageName + "'? This cannot be undone.");
                            if (result) {
                                button.prop("disabled", true);
                                jsRoutes.controllers.SimplePassageController.deletePassage(passageId).ajax({
                                    success : function(data) {
                                        window.location.reload();
                                    },
                                    error : function(err) {
                                        //window.location = "";
                                    }
                                });
                            } else {
                                button.toggleClass('active');
                            }

                        });

                        $('button#analyzePassages').click(function() {
                            var button = $(this);
                            button.toggleClass('active');



                            var result = confirm("Are you sure you want to analyze passages? This may take a couple minutes");

                            if (result) {
                                switchSpinner();
                                jsRoutes.controllers.SimplePassageController.analyzePassages().ajax({
                                    success : function(data) {
                                        window.location.reload();
                                    },
                                    error : function(err) {
                                        //window.location = "";
                                    }
                                });
                            }

                        });

                        function switchSpinner(){
                            var on = "glyphicon glyphicon-refresh glyphicon-spin";
                            var off = "glyphicon glyphicon-refresh";


                            document.getElementsByTagName()
                            var elem = document.getElementById("spinner");

                            if(elem.className.substring(elem.className.length - 4) == "spin") elem.className = off;
                            else elem.className = on;
                        }


                </script>


    }