@(question: models.PassageQuestion, inst: models.User)

    @main("View All Passages") {

        <link rel="stylesheet" href="/assets/css/easyread.css"></>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <h2>Done!</h2> @flash.get("success")
            </div>
        }
        @if(flash.containsKey("warning")) {
            <div class="alert alert-danger">
                <h2>Sorry!</h2> @flash.get("danger")
            </div>
        }

        <div>

            <div id="students" class="box">

                <div class="box-header">
                    <i class="fa fa-group fa-2x"></i>
                    <h5>View Choices</h5>
                </div>

                <button class="btn btn-primary" onclick="addChoice(@question.id);">Add a Choice</button>

                <a href="/editQuestions?passageId=@question.basis_id" class="btn btn-primary">Back to Question</a>

                <div class="box-content box-table" style="padding: 10px ;">
                @if(question.choices.size == 0) {
                    <div class="well">
                        <strong><em>There are no choices in the system!</em></strong>
                    </div>
                } else {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Prompt</th>
                                <th>Correct</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(choice <- question.choices.toList.sortBy(_.position)) {
                            <tr>
                            <td> @choice.position</td>
                            <td>@PassageQuestionAnswer.byPassageQuestionChoice(choice.id).get(0).text </td>
                            <td>@choice.correct.toString.capitalize</td>
                                <td>
                                    <button class="btn btn-primary" onclick="editAnswer(@choice.id, @question.id);">Edit Answer</button>
                                    @if(choice.position != 0){
                                        <button class="btn btn-primary" onclick="moveChoiceUp(@choice.id, @question.id);">Move up</button>
                                    }
                                    @if(choice.position != question.choices.toList.sortBy(_.position).size - 1){
                                        <button class="btn btn-primary" onclick="moveChoiceDown(@choice.id, @question.id);">Move Down</button>
                                    }
                                    <button class="btn btn-danger" onclick="deleteChoice(@question.id, @question.basis_id, @choice.id);">Delete Choice</button>
                                    @if(choice.correct == false){
                                        <button class="btn btn-primary" onclick="setAsCorrectAnswer(@choice.id, @question.id)">Set As Correct Answer</button>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }

                </div>


                <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

                <script type="text/javascript" src="/assets/javascripts/questions.js"></script>



    }