
@(form: Form[formdata.SimplePassageData], passageId: Long, grade : Int)


    @import play.api.libs.json.Json
    @import scala.reflect.runtime.universe._

    @main("Edit a  Passage") {


        <style type="text/css">
        /*This entire example and the sliders are from  https://github.com/eduardomb/jquery-panelslider */
        .panel {
            display: none ;
            width: 20% ;
            overflow-y: scroll ;
            overflow-x:scroll ;
            padding: 20px ;
            background-color: #333 ;
            color: #fff ;
            box-shadow: inset 0 0 5px 5px #222 ;
        }
        </style>
        <div id="left-panel" class="panel"></div>


        <div class="pull-right">


            <div class="btn-group">
                <h5>Choose The Grade Level this passage should be edited at</h5>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">

                        Grade

                        @PassageAnalysisController.displayGrade(grade)

                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=0">K</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=1">1</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=2">2</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=3">3</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=4">4</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=5">5</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=6">6</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=7">7</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=8">8</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=9">9</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=10">10</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=11">11</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=12">12</a></li>
                        <li><a href="editPassageAtGrade?passageId=@passageId&grade=13">College</a></li>
                    </ul>
                </div>


            </div>

        </div>

        <a id="left-panel-link" class="btn btn-primary" href="#left-panel" style="display: none ;">
            <i class="glyphicon glyphicon-edit"> Left Panel</i>
        </a>


        @helper.form(routes.SimplePassageController.edit_submit(passageId)) {

                <!-- Left panel -->



            <div>
                <div class="box">
                    <div class="box-header">
                        <i class="icon-plus"></i>
                        <i class="icon-user icon-large"></i>
                        <h5>Edit an existing Passage</h5>
                    </div>
                    <div class="box-content box-table" style="padding: 10px ;">
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger">
                            @form.globalError.message

                            </div>
                        }
                        <p>


                            <strong>
                                This page shows Suggestions to make this passage readable for a @if(grade == 0) { Kindergarten } @if(grade >= 12) { College Level } else {
                                @if(grade > 0) { Grade @grade}
                            }reader</strong>

                    <h4>Title</h4>
                        <input type="text" name="passageTitle" placeholder="Passage Title" value="@form("passageTitle").value">

                        <h4>Source</h4>
                        <input type="text" name="source" placeholder="Passage Source" value="@form("source").value">

                        <input type="text" id="text" name="passageText" value="" style="display:none">

                        <input type="text" id="html" name="passageHTML" value='' style="display:none">

                    </div>
                    <br>
                    <br>


                    <h4>Passage Body</h4>
                        <!-- http://quilljs.com/docs/quickstart/ -->
                        <!-- Create the editor container -->

                    <div id="editor">
                    </div>




                    <button type="submit" class="btn btn-success">
                        <i class="btn-icon-only icon-check"></i> Submit
                    </button>


                    <br>
                    <br>

                </div>
            </div>
        }
        <script src="/assets/js/jquery.panelslider.min.js"></script>
        <script>
                $('#left-panel-link').panelslider({side: 'left', clickClose: false, duration: 200 });
                $('#right-panel-link').panelslider({side: 'right', clickClose: false, duration: 200 });

                $('#close-panel-bt').click(function() {
                    $.panelslider.close();
                    document.body.style.display = 'none';
                    document.body.style.display = '';
                });
        </script>


        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

            <!-- http://quilljs.com/docs/api -->
            <!-- Include the Quill library -->
        <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>

            <!-- Initialize Quill editor -->
        <script>

                var capturedWord = "";
                var capturedSentence = "";

                var configs = {
                    readOnly: false,
                    theme: 'snow',
                    styles: {
                        '.ql-editor' : {
                            'word-wrap': 'break-word',
                            'word-spacing': 'normal',
                            'text-align': 'left',
                            'line-height': '250%',
                            'width': '60%',
                            'font-size': '24'
                        }

                    },
                    formats: ['size', 'underline']
                };

                // timer code from http://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
                var typingTimer;
                var doneTypingInterval = 5000;

                var ready = false;

                var requests = [];


                var quill = new Quill('#editor', configs);


                //http://stackoverflow.com/questions/9913971/scala-how-can-i-get-an-escaped-representation-of-a-string
                quill.setHTML(@Html(Literal(Constant(PassageText.bySimplePassageAndGrade(passageId, grade).html)).toString));

                quill.on('text-change', function(delta, source) {
                    if(source == "user") {

                        clearTimeout(typingTimer);
                        typingTimer = setTimeout(setFlag, doneTypingInterval);

                        // quill.formatText(0, quill.getText().length, "size", 20);

                        var element = document.getElementsByName("passageText")[0];


                        element.setAttribute("value", quill.getText());

                        var range = quill.getSelection();

                        if (range != null){
                            console.log("request pushed");
                            requests.push(range.start);
                        }
                    }
                });

                function areWithinSameSentence(a, b){
                    var text = quill.getText();

                    var aLoc = 0;
                    var bLoc = 0;

                    for(var i = a; i >= 0; i--){
                        if(text.charAt(i) == '.'){
                            aLoc++;
                        }
                    }

                    for(var i = b; i >= 0; i--){
                        if(text.charAt(i) == '.'){
                            bLoc++;
                        }
                    }

                    return aLoc == bLoc;
                }


                function getWordForPosition(pos, check){
                    var text = quill.getHTML();

                    // white space check from http://stackoverflow.com/questions/1496826/check-if-a-single-character-is-a-whitespace
                    if(/\s/.test(text.charAt(pos))) pos--;

                    if(/\s/.test(text.charAt(pos))) return null;

                    var startOfWord = 0;
                    var endOfWord = 0;
                    for(endOfWord = pos; endOfWord < text.length - 5; endOfWord++){
                        if(/\s/.test(text.charAt(endOfWord)) || text.substring(endOfWord, endOfWord + 5) == "&nbsp" || text.substring(endOfWord, endOfWord + 2) == ".<"){
                            break;
                        }
                    }
                    for(startOfWord = endOfWord - 1; startOfWord >= 0; startOfWord--){
// white space check from http://stackoverflow.com/questions/1496826/check-if-a-single-character-is-a-whitespace
                        if(/\s/.test(text.charAt(startOfWord))){
                            startOfWord++;
                            break;
                        }
                    }

                    capturedWord = text.substring(startOfWord, endOfWord);

                    if(check == true) {
                        console.log("Sending " + capturedWord);
                        checkWord(capturedWord, startOfWord, endOfWord);
                    }

                    return quill.getHTML().substring(startOfWord, endOfWord);

                }

                function areWithinSameWord(a, b){
                    return getWordForPosition(a, false) == getWordForPosition(b, false);
                }

                function removeDuplicateSentence(index){

                    var toRemove = [];

                    for(var i = index - 1; i >= 0; i--){
                        if(areWithinSameSentence(requests[index], requests[i])){
                            toRemove.push(i);
                        }
                    }

                    for(var i = 0; i < toRemove.length; i++){
                        requests.splice(toRemove[i], 1);
                    }
                }

                function removeDuplicateWords(index){

                    var toRemove = [];

                    for(var i = index - 1; i >= 0; i--){
                        if(areWithinSameWord(requests[index], requests[i])){
                            toRemove.push(i);
                        }
                    }

                    for(var i = 0; i < toRemove.length; i++){
                        requests.splice(toRemove[i], 1);
                    }
                }


                function setFlag(){
                    console.log("begin count " + requests.length);

                    for(var i = requests.length - 1; i > 0; i--){
                        //removeDuplicateWords(requests[i]);
                        //removeDuplicateSentence(requests[i]);
                    }

                    for(var i = 0; i < requests.length; i++){
                        findContainedWord(requests[i]);
                        findContainingSentence(requests[i]);
                    }

                    console.log("end count " + requests.length);
                    requests = [];
                }

                function findContainedWord(pos){
                    capturedWord = getWordForPosition(pos, true);
                    console.log(capturedWord);
                }

                function findContainingSentence(pos){
                    var text = quill.getText();
                    var html = quill.getHTML();

                    if(text.length < 0) console.log("not working");

                    var startOfSen = 0;
                    var endOfSen = 0;
                    var sentenceCount = 0;

                    for(startOfSen = pos; startOfSen >= 0; startOfSen--){
                        if(text.charAt(startOfSen) == '.'){
                            sentenceCount++;
                        }
                    }

                    var sNum = 0;
                    var posi = 0;

                    while(sNum < sentenceCount){
                        if(html.charAt(posi) == '.'){
                            sNum++;
                        }
                        posi++;
                    }

                    for(var endOfSen = pos; endOfSen < html.length; endOfSen++){
                        if(html.charAt(endOfSen) == ".") break;
                    }



                    capturedSentence = quill.getHTML().substring(posi, endOfSen);


                    console.log("sentence is: " + capturedSentence );

                    if(capturedSentence.split(" ").length > 2){
                        checkSentence(capturedSentence, sentenceCount);
                    }

                    return capturedSentence;
                }

                function saveHtml(html){

                    var realText = trimUnecessary(html, @passageId);
                    $.post(
                            'saveHt?passageId=' + @passageId + '&grade=' + @SimplePassage.byId(passageId).grade ,
                            {'html' : realText },

                            function(data) {
                                console.log("saved");
                            });

                }

                function trimUnecessary( html,  passageId) {

                    var passageText = "@SimplePassage.byId(passageId).text";


                    var firstWord = passageText.substring(0, passageText.indexOf(" "));
                    var lastWord = passageText.substring(passageText.lastIndexOf(" ") + 1, passageText.length);

                    var foundFirst = false;
                    var divIndex = 0;
                    for (var i = 0; i < html.length; i++) {
                        if (html.charAt(i) == '<' ) {
                            if (html.charAt(i + 1) == 'd') {
                                divIndex = i;
                            }
                        }

                        if (!foundFirst && html.charAt(i) == firstWord.charAt(0) && html.substring(i, i + firstWord.length) == firstWord) {
                            html = html.substring(divIndex, html.lastIndexOf(".") +  7);
                            foundFirst = true;
                        }

                    }

                    var i = html.length - 1;
                    while(html.charAt(i) != ".") i--;
                    html = html.substring(0, i + 1) + "</div>";



                    return html;
                }

                function checkWord(word, start, end){
                    jsRoutes.controllers.SimplePassageController.checkWord(word, @SimplePassage.byId(passageId).grade, @passageId ).ajax({
                        success : function(data) {
                            quill.formatText(start, end, 'underline', data.toString() == "UNDERLINE")
                        },
                        error : function(err) {
                            //window.location = "";
                        },
                        complete : function() {

                        }
                    });
                }

                function checkSentence(sentence, sentenceNum){
                    jsRoutes.controllers.SimplePassageController.checkSentence(sentence, @grade, @passageId ).ajax({
                        success : function(data) {
                            if(data.toString() == "REM"){
                                var html = quill.getHTML();

                                var index = html.indexOf(sentence);

                                var currentS = 0;
                                for(var e = 0; e < html.length - 2; e++){
                                    if(html.substring(e, e +2) == ". " ) currentS++;
                                    if(currentS == sentenceNum){
                                        index = e + 2;
                                        break;
                                    }
                                }


                               // console.log("sentence really is: " + sentence);
                               // console.log("full - " + html);
                                var start = 0;
                                var firstEnd = 0;
                                var secondEnd = 0;


                                var l = "<span class=\"glyphicon glyphicon-exclamation-sign\">".length;

                                //console.log("index of first <: " + index);

                                for(var i = index; i < html.length; i++){
                                    if(html.charAt(i) == '<' && html.substring(i, i + 5) == "<span" && start == 0) {
                                        start = i;
                                        firstEnd = start + l;

                                    }
                                    if(firstEnd != 0 && html.charAt(i) == '>' && html.substring(i - 1, i) == "n"){
                                        secondEnd = i;
                                        break;
                                    }
                                }

                                //console.log("start: " + start + " firstEnd " + firstEnd + " secondEnd: " + secondEnd);

                                // html = html.replace(sentence, html.substring(firstEnd, secondEnd - 6) + html.substring(secondEnd + 1, start + sentence.length));

                                //console.log("first part: " + html.substring(0, start));


                                if(start != 0 && firstEnd != 0 && secondEnd != 0){
                                    html = html.substring(0, start) + html.substring(firstEnd, secondEnd - 6) + html.substring(secondEnd + 2);




                                    quill.setHTML(html);


                                    html = quill.getHTML();

                                    console.log("text: " + html);

                                    var currentS = 0;
                                    for(var e = 0; e < html.length - 5; e++){
                                        if(html.substring(e, e +2) == ". " || html.substring(e, e + 5) == ".&nbs" || html.substring(e, e +2) == ".<" ) {
                                            currentS++;
                                        }
                                        if(currentS == sentenceNum){
                                            console.log("caught sentnece");
                                            index = e + 2;
                                            break;
                                        }
                                    }

                                    var nextS = 0;
                                    for(var c = index; c < html.length; c++) {
                                        if (html.substring(c, c + 2) == ". " || html.substring(c, c + 5) == ".&nbs" || html.substring(c, c + 2) == ".<") {
                                            nextS = c;
                                            break;
                                        }
                                    }

                                    console.log("Current: " + index + " next: " + nextS);


                                    quill.formatText(index, nextS, 'underline', false);


                                    html = quill.getHTML();

                                    currentS = 0;
                                    for(var e = 0; e < html.length - 5; e++){
                                        if(html.substring(e, e +2) == ". " || html.substring(e, e + 5) == ".&nbs" || html.substring(e, e +2) == ".<" ) {
                                            currentS++;
                                        }
                                        if(currentS == sentenceNum){
                                            console.log("caught sentnece");
                                            index = e + 2;
                                            break;
                                        }
                                    }

                                    nextS = 0;
                                    for(var c = index; c < html.length; c++) {
                                        if (html.substring(c, c + 2) == ". " || html.substring(c, c + 5) == ".&nbs" || html.substring(c, c + 2) == ".<") {
                                            nextS = c;
                                            break;
                                        }
                                    }

                                    console.log("--sen search");
                                    console.log("new Current: " + index + " next: " + nextS);

                                    for(var i = index; i < nextS; i++){
                                        // white space check from http://stackoverflow.com/questions/1496826/check-if-a-single-character-is-a-whitespace
                                        if(i > index && /\s/.test(html.charAt(i)) || i + 1 == nextS){
                                            findContainedWord(i - 1);
                                        }
                                    }

                                    console.log("end sen search");

                                }

                            }
                        },
                        error : function(err) {
                            //window.location = "";
                        },
                        complete : function() {

                        }
                    });
                }

                //http://www.creativejuiz.fr/blog/en/javascript-en/read-url-get-parameters-with-javascript
                function $_GET(param) {
                    var vars = {};
                    window.location.href.replace(
                            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                            function( m, key, value ) { // callback
                                vars[key] = value !== undefined ? value : '';
                            }
                    );

                    if ( param ) {
                        return vars[param] ? vars[param] : null;
                    }
                    return vars;
                }

                function acceptWord(word){
                    jsRoutes.controllers.SimplePassageController.acceptWord(word.id, @grade).ajax({
                        success : function(data) {
                            //window.location.reload();
                        },
                        error : function(err) {
                            //window.location = "";
                        },
                        complete : function() {
                            window.location.reload();
                        }
                    });
                }

                function replaceWord(word, replacement){
                    jsRoutes.controllers.SimplePassageController.replaceWord(@passageId, word, replacement).ajax({
                        success : function(data) {
                            //window.location.reload();
                        },
                        error : function(err) {
                            //window.location = "";
                        },
                        complete : function() {
                            window.location.reload();
                        }
                    });
                }


                function underlineSpecificWords(words){

                    var text = quill.getText();

                    for(var i = 0; i < words.length; i++){
                        var currentText = text;
                        var word = words[i];
                        var index = text.indexOf(word);

                        while(index != -1){
                            var offset = text.length - currentText.length;
                            quill.formatText(index + offset, index + offset + word.length, 'underline', true);
                            currentText = currentText.substring(index + word.length);
                            index = currentText.indexOf(word);
                        }
                    }
                }


                function updateSynonymnList(string, arr){
                    arr = JSON.parse(arr);
                    var leftPanel = document.getElementById("left-panel");


                    if(window.getComputedStyle(leftPanel).display === 'none'){
                        console.log("doing this");

                        $("#left-panel-link").click();

                    }

                    var upperDiv = '<div id="title"><h1>' + string + '</h1></div>';
                    var approvalDiv = "<div id='accept'><button class='btn btn-primary' onclick='acceptWord(" + string + ", " + $_GET('grade') + ");'>This is okay!</button></div><br>";

                    var synonymnDiv = "<div class='container-fluid'> <div id='list'>";

                    if(arr.length == 0){
                        synonymnDiv += "This word is too complicated, <br> but we don't have any suggestions for you yet.";
                    } else {
                        //http://stackoverflow.com/questions/14572413/remove-line-breaks-from-start-and-end-of-string
                        //http://stackoverflow.com/questions/22036576/why-does-the-javascript-string-whitespace-character-nbsp-not-match
                        // var synonymnList = document.getElementById(string).innerText.trim("/\r?\n|\r/g").split(String.fromCharCode(160));


                        var ran = false;
                        for(var i = 0; i < arr.length; i++){
                            ran = true;
                            synonymnDiv += i + ". <span onclick='replaceWord(\"" + string + "\", \"" + arr[i] + "\");' style='background-color: gray;'><h3>" + arr[i] + "</h3></span><br>";
                        }

                        if(!ran){
                            synonymnDiv += "This word is too complicated, <br> but we don't have any <br> suggestions for you yet.";
                        }


                    }

                    synonymnDiv += "</div></div><br><button id='close-panel-bt' class='btn btn-primary' onclick='$.panelslider.close();'>Close Planel</button>";

                    leftPanel.innerHTML = upperDiv + approvalDiv + synonymnDiv;
                }

                function getSuggestions(word){
                    jsRoutes.controllers.SimplePassageController.getSuggestions(word).ajax({
                        success : function(data) {
                            console.log(data);
                            updateSynonymnList(word, data);
                        },
                        error : function(err) {
                            //window.location = "";
                        },
                        complete : function() {

                        }
                    });
                }


                $( document ).ready(function() {

                    // http://stackoverflow.com/questions/24309803/playframework-jsvalue-in-html-template
                    underlineSpecificWords(@Html(Json.stringify(Json.toJson(SimplePassage.byId(passageId).text.split(" ").toList.distinct.filter(p => (Word.byLemma(p) != null && Word.byLemma(p).ageOfAcquisition > grade + 6) && !SimplePassage.byId(passageId).getStopWords().contains(p))))));


                    //http://stackoverflow.com/questions/17636043/cannot-add-click-events-to-list-items
                    // locate your element and add the Click Event Listener

                    function isEmpty( el ){
                        return !$.trim(el.html())
                    }


                    //http://stackoverflow.com/questions/1206203/how-to-distinguish-between-left-and-right-mouse-click-with-jquery
                    //http://jsfiddle.net/Kn9s7/5/
                    $(document).on("contextmenu", "u", function(e){
                        var string = $(this).html();
                        getSuggestions(string);
                        return false;
                    });

                });
        </script>

    }