
@(form: Form[formdata.SimplePassageData], passageId: Long, grade : Int)


@import play.api.libs.json.Json
@import scala.reflect.runtime.universe._

@main("Edit a  Passage") {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="/assets/css/easyread.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">


    <style type="text/css">
    /*This entire example and the sliders are from  https://github.com/eduardomb/jquery-panelslider */
    .panel {
        display: none ;
        max-width: 20% ;
        overflow-y: scroll ;
        padding: 20px ;
        background-color: #333 ;
        font-size: 1em;
        color: #fff ;
        box-shadow: inset 0 0 5px 5px #222 ;
    }

    </style>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <h2>Done!</h2> @flash.get("success")
        </div>
    }
    @if(flash.containsKey("warning")){
        <div class="alert alert-warning">
            <h2>Done!</h2> @flash.get("warning")
        </div>
    }




    <div id="left-panel" class="panel"></div>

    <div class="pull-right">
        <h5>Choose The Grade Level this passage should be edited at</h5>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Grade
                @PassageAnalysisController.displayGrade(grade)
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
            @for(p <- SimplePassage.byId(passageId).htmlRepresentations.toList.sortBy(_.grade).distinct){
                <li><a href="editPassageAtGrade?passageId=@passageId&grade=@p.grade">@PassageAnalysisController.displayGrade(p.grade)</a></li>
            }
            </ul>
        </div>

        <div id="symbol-key">
            <h5><i class="glyphicon glyphicon-pushpin">Key</i></h5>
            <h6><i class="glyphicon glyphicon-exclamation-sign">Sentence more difficult than current grade</i></h6>
            <h6><u>Underlined words are too hard for this grade</u></h6>
        </div>
    </div>

    <a id="left-panel-link" class="btn btn-primary" href="#left-panel" style="display: none ;">
        <i class="glyphicon glyphicon-edit"> Left Panel</i>
    </a>


    @helper.form(routes.SimplePassageController.edit_submit(passageId)) {

            <!-- Left panel -->



        <div>
            <div class="box">
                <div class="box-header">
                    <i class="icon-plus"></i>
                    <i class="icon-user icon-large"></i>
                    <h5>Edit an existing Passage</h5>
                </div>
                <div class="box-content box-table" style="padding: 10px ;">
                    @if(form.hasGlobalErrors) {
                        <div class="alert alert-danger">
                        @form.globalError.message

                        </div>
                    }
                    <p>


                        <strong>
                            This page shows Suggestions to make this passage readable for a @if(grade == 0) { Kindergarten } @if(grade >= 12) { College Level } else {
                            @if(grade > 0) { Grade @grade}
                        }reader</strong>


                <div>


                    <div class="btn-group">
                        <a class="btn btn-primary" id="add" href="/setNumQ?passageId=@passageId">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add new Questions
                        </a>

                        <a class="btn btn-primary" onclick="changeVis();">
                        @if(SimplePassage.byId(passageId).visibleToStudents){
                            <i class="glyphicon glyphicon-eye-close"></i>
                            Hide From Students
                        } else {
                            <i class="glyphicon glyphicon-eye-open"></i>
                            Make Visible to Students
                        }
                        </a>

                        @if(SimplePassage.byId(passageId).questions.size() > 0){
                            <a class="btn btn-primary" id="add" href="/editQuestions?passageId=@passageId">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit Questions
                            </a>

                        }
                        @if(SimplePassageController.isAnalyzing == false){
                            <a class="btn btn-primary btn-success has-spinner" id="analyzePassages">
                                <i id="spinner" class="glyphicon glyphicon-refresh"></i> Analyze
                            </a>

                        } else {

                            <button type="button" class="btn btn-primary btn-success has-spinner" id="analyzePassages">
                                <i id="spinner" class="glyphicon glyphicon-refresh glyphicon-spin"></i> Analyze
                            </button>

                        }

                        @for(tag <- SimplePassage.byId(passageId).tags){
                            <a class="btn btn-primary" href="/viewAllPassagesWithTag?name=@tag.keyword">
                                <i class="glyphicon glyphicon-tag"></i> @tag.keyword
                            </a>
                        }

                        <button type="button" class="btn btn-primary" onclick="saveHtml(quill.getHTML());">
                            <i class="glyphicon glyphicon-floppy-save"></i> Save</button>
                    </div>
                </div>


                    <h4>Title</h4>
                    <input type="text" name="passageTitle" placeholder="Passage Title" value="@form("passageTitle").value">

                    <h4>Source</h4>
                    <input type="text" name="source" placeholder="Passage Source" value="@form("source").value">

                    <input type="text" id="text" name="passageText" value="" style="display:none">

                    <input type="text" id="html" name="passageHTML" value='' style="display:none">

                </div>
                <br>
                <h4>Passage Body</h4>
                    <!-- http://quilljs.com/docs/quickstart/ -->
                    <!-- Create the editor container -->

                <div id="editor"></div>
                <br>

            </div>

            <div class="info">
                <strong>Hints:</strong>
                <br>
                <h7>Analyzing a passage with unsaved changes saves it first</h7>
                <br>
                <h7>Editing a passage at a lower grade level creates a new one for you with the changes</h7>
            </div>
        </div>
    }


    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


    <script src="/assets/js/jquery.panelslider.min.js"></script>


    <script>
            $('#left-panel-link').panelslider({side: 'left', clickClose: false, duration: 200 });
            $('#right-panel-link').panelslider({side: 'right', clickClose: false, duration: 200 });

            $('#close-panel-bt').click(function() {
                $.panelslider.close();
                document.body.style.display = 'none';
                document.body.style.display = '';
            });
    </script>


    <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

        <!-- http://quilljs.com/docs/api -->
        <!-- Include the Quill library -->
    <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>

        <!-- Initialize Quill editor -->
    <script>

            var capturedWord = "";
            var capturedSentence = "";

            var configs = {
                readOnly: false,
                theme: 'snow',
                styles: {
                    '.ql-editor' : {
                        'word-wrap': 'break-word',
                        'word-spacing': 'normal',
                        'text-align': 'left',
                        'line-height': '250%',
                        'width': '60%',
                        'font-size': '24'
                    }

                },
                formats: ['size', 'underline']
            };

            // timer code from http://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
            var typingTimer;
            var doneTypingInterval = 5000;

            var ready = false;

            var requests = [];


            var quill = new Quill('#editor', configs);


            //http://stackoverflow.com/questions/9913971/scala-how-can-i-get-an-escaped-representation-of-a-string
            quill.setHTML(@Html(Literal(Constant(PassageText.bySimplePassageAndGrade(passageId, grade).html)).toString));

            quill.on('text-change', function(delta, source) {
                if(source == "user") {

                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(setFlag, doneTypingInterval);

                    // quill.formatText(0, quill.getText().length, "size", 20);

                    var element = document.getElementsByName("passageText")[0];


                    element.setAttribute("value", quill.getText());

                    var range = quill.getSelection();

                    if (range != null){
                        //console.log("request pushed");
                        requests.push(range.start);
                        // console.log(requests);
                    }
                }
            });


            function getWordForPosition(pos, check){
                var text = quill.getText();

                // white space check from http://stackoverflow.com/questions/1496826/check-if-a-single-character-is-a-whitespace
                if(/\s/.test(text.charAt(pos))) pos--;

                if(/\s/.test(text.charAt(pos))) return null;

                var startOfWord = 0;
                var endOfWord = 0;
                for(endOfWord = pos; endOfWord < text.length - 1; endOfWord++){
                    if(/\s/.test(text.charAt(endOfWord)) || (text.charAt(endOfWord) == '.' && (/\s/.test(text.charAt(endOfWord + 1))) || text.charAt(endOfWord + 1) == '&' || text.charAt(endOfWord + 1) == '<')){
                        break;
                    }
                }
                for(startOfWord = endOfWord - 1; startOfWord >= 0; startOfWord--){
                // white space check from http://stackoverflow.com/questions/1496826/check-if-a-single-character-is-a-whitespace
                    if(/\s/.test(text.charAt(startOfWord)) || text.charAt(startOfWord) == '.'){
                        startOfWord++;
                        break;
                    }
                }

                if(!/\s/.test(text.charAt(endOfWord))) endOfWord++;

                capturedWord = text.substring(startOfWord, endOfWord);

                if(check == true) {
                    console.log("Sending " + capturedWord);
                    checkWord(capturedWord, startOfWord, endOfWord);
                }

                return quill.getText().substring(startOfWord, endOfWord);

            }

            function areWithinSameSentence(pos1, pos2){
                return (getCapturedSentence(pos1)[0] == getCapturedSentence(pos2)[0]);
            }

            function removeDuplicateSentences(){
                var toRemove = [];
                for(var i = requests.length - 1; i >= 0; i--){

                    for(var c = 0; c < i; c++){
                        if(areWithinSameSentence(requests[i], requests[c])){
                            if(toRemove.indexOf(c) == -1) toRemove.push(c);
                        }
                    }

                }

                for(var e = 0; e < toRemove.length; e++){
                    requests.splice(toRemove[e] - e, 1);
                }
            }


            function setFlag(){

                removeDuplicateSentences();

                console.log("reqs " + requests);

                for(var i = 0; i < requests.length; i++){
                    //findContainedWord(requests[i]);
                    findContainingSentence(requests[i]);
                }

                //console.log("end count " + requests.length);
                requests = [];
            }

            function findContainedWord(pos){
                capturedWord = getWordForPosition(pos, true);
                //console.log("caught " + capturedWord);
            }

            function getCapturedSentence(pos){
                var text = quill.getText();
                var html = quill.getHTML();

                var startOfSen = 0;
                var endOfSen = 0;
                var sentenceCount = 0;

                if((text.charAt(pos) == '.' && pos + 1 == text.length) || (text.charAt(pos) == '.' &&  (pos + 1 < text.length && (/\s/.test(text.charAt(pos + 1)))))){
                    pos--;
                }



                var encounteredNonSpace = false;
                for(var i = pos; i >= 0; i--){
                    //console.log(text.charAt(pos));
                    if(encounteredNonSpace && ((text.charAt(i) == '.' && i + 1 == text.length) || (text.charAt(i) == '.' &&  i + 1 < text.length && /\s/.test(text.charAt(i + 1))))){
                        sentenceCount++;
                        //console.log("increment");
                    }
                    if(/\s/.test(text.charAt(i)) == false) {
                       // console.log("non space");
                        encounteredNonSpace = true;
                    }
                }


                console.log("sentence # " + sentenceCount);

                var sNum = 0;
                var posi = 0;


                while(sNum < sentenceCount){
                    if((html.charAt(posi) == '.' && posi + 1 == html.length) || (html.charAt(posi) == '.' && (/\s/.test(html.charAt(posi + 1)) || html.charAt(posi + 1) == '&' || html.charAt(posi + 1) == '<'))){
                        sNum++;

                    }
                    posi++;
                }

                startOfSen = posi;

                for(var endOfSen = startOfSen + 1; endOfSen < html.length - 1; endOfSen++) {
                    if (html.charAt(endOfSen) == '.' && (/\s/.test(html.charAt(endOfSen + 1)) || html.charAt(endOfSen + 1) == '&' || html.charAt(endOfSen + 1) == '<')) {
                        break;
                    }
                }

                return [quill.getHTML().substring(startOfSen, endOfSen), sentenceCount];
            }

            function findContainingSentence(pos){
                var arr = getCapturedSentence(pos);
                capturedSentence = arr[0];


                console.log("sentence is: " + capturedSentence );



                checkSentence(capturedSentence, arr[1]);


                return capturedSentence;
            }

            function saveHtml(html){

                if(requests.length > 0){
                    setFlag();
                }

                var realText = trimUnecessary(html, @passageId);
                $.post(
                        'saveHt?passageId=' + @passageId + '&grade=' + @grade ,
                        {'html' : realText,
                            'plain' : quill.getText()
                        },

                        function(data) {
                            @if(grade != SimplePassage.byId(passageId).grade) {
                            alert("Your changes have been saved in a new Passage called " + "@Html(SimplePassage.byId(passageId).title)" + "-(" + @grade + " edit)");
                            window.location.href = "/viewAllPassages"
                            } else {
                            alert("Your changes have been saved!");
                            }


                        });

            }

            function trimUnecessary( html,  passageId) {

                var passageText = @Html(Literal(Constant(SimplePassage.byId(passageId).text)).toString);


                var firstWord = passageText.substring(0, passageText.indexOf(" "));
                var lastWord = passageText.substring(passageText.lastIndexOf(" ") + 1, passageText.length);

                var foundFirst = false;
                var divIndex = 0;
                for (var i = 0; i < html.length; i++) {
                    if (html.charAt(i) == '<' ) {
                        if (html.charAt(i + 1) == 'd') {
                            divIndex = i;
                        }
                    }

                    if (!foundFirst && html.charAt(i) == firstWord.charAt(0) && html.substring(i, i + firstWord.length) == firstWord) {
                        html = html.substring(divIndex, html.lastIndexOf(".") +  7);
                        foundFirst = true;
                    }

                }

                var i = html.length - 1;
                while(html.charAt(i) != ".") i--;
                html = html.substring(0, i + 1) + "</div>";



                return html;
            }

            function checkWord(word, start, end){
                jsRoutes.controllers.SimplePassageController.checkWord(word, @grade, @passageId ).ajax({
                    success : function(data) {
                        quill.formatText(start, end , 'underline', data.toString() == "UNDERLINE");
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {

                    }
                });
            }

            function checkSentence(sentence, sentenceNum){
                jsRoutes.controllers.SimplePassageController.checkSentence(sentence, @grade, @passageId ).ajax({
                    success : function(data) {


                        console.log("CHECK SENTENCE " + sentenceNum);
                        var html = quill.getHTML();

                        var index = 0;

                        console.log("index " + index);

                        if (data.toString().indexOf("REM") != -1) {

                            var split = data.toString().split(" ");
                            var sentence = split[1];
                            console.log("REM sentenece " + sentenceNum);


                            var currentS = 0;
                            if (sentenceNum > 0) {
                                for (var e = 0; e < html.length - 2; e++) {
                                    if (html.charAt(e) == '.' && (/\s/.test(html.charAt(e + 1)) || html.charAt(e + 1) == '&' || html.charAt(e + 1) == '<')) currentS++;
                                    if (currentS == sentenceNum) {
                                        index = e + 2;
                                        break;
                                    }
                                }
                            }


                            console.log("sentence really is: " + html.substring(index));
                            // console.log("full - " + html);
                            var start = 0;
                            var firstEnd = 0;
                            var secondEnd = 0;
                            var innerBegin = 0;


                            var l = "<span class=\"glyphicon glyphicon-exclamation-sign onclick=\"showJustification(1);\">".length;

                            //console.log("index of first <: " + index);

                            for (var i = index; i < html.length; i++) {
                                if (html.charAt(i) == 's' && html.substring(i, i + 4) == "span" && start == 0) {
                                    start = i - 1;
                                    firstEnd = start + l;
                                    if (html.charAt(firstEnd) != '>') firstEnd++;
                                    while(html.charAt(i) != '<') i++;
                                    innerBegin = i;


                                    // account for some justifications being two digits

                                }

                                /* if (start != 0 && html.charAt(i) == '>' && html.substring(i - 1, i) == "\"") {
                                 firstEnd = i + 1;
                                 }*/


                                if (firstEnd != 0 && i > start + l && html.charAt(i) == '>' && html.substring(i - 1, i) == "n") {
                                    secondEnd = i;
                                    break;
                                }
                            }

                            console.log("start " + start);
                            console.log("firstE " + firstEnd);
                            console.log("secondE " + secondEnd);



                            if (start != 0 && firstEnd != 0 && secondEnd != 0){


                                console.log("first Part -" + html.substring(0, start));
                                console.log("second part -" + sentence);
                                console.log("third part -" + html.substring(firstEnd+1, innerBegin));
                                console.log("fourth part -" + html.substring(secondEnd + 1));


                                var newHTML = html.substring(0, start) + html.substring(firstEnd + 1, innerBegin) + html.substring(secondEnd + 1);

                                quill.setHTML(newHTML);
                            }



                            
                         } else if (data.toString().charAt(0) == '!') {
                            console.log("ADD");

                            var innerSCount = 0;

                            var innerI = 0;

                            if (sentenceNum > 0){
                                for(innerI = 0; innerI < html.length; innerI++){
                                    if(html.charAt(innerI) == '.' && ((/\s/.test(html.charAt(innerI + 1)) || html.charAt(innerI + 1) == '&' || html.charAt(innerI + 1) == '<'))){
                                        innerSCount++;
                                        if(innerSCount == sentenceNum) break;
                                    }
                                }
                            }

                            var innerRealStart = innerI;
                            var innerRealEnd = innerI;

                            for(innerRealEnd = innerRealStart + 1; innerRealEnd < html.length; innerRealEnd++){
                                if(html.charAt(innerRealEnd) == '.' && (/\s/.test(html.charAt(innerRealEnd + 1)) || html.charAt(innerRealEnd + 1) == '&' || html.charAt(innerRealEnd + 1) == '<')){
                                    break;
                                }
                            }
                            var insertString = "<span class='glyphicon glyphicon-exclamation-sign' onclick='showJustification("+ data.toString().substring(1) + ");'>&nbsp;</span>";

                            if(html.charAt(innerRealStart) != '<') innerRealStart++;
                            if(html.charAt(innerRealStart) == ';') innerRealStart++;

                            var firstPart = html.substring(0, innerRealStart);

                            var afterSpace = html.substring(innerRealStart);

                            afterSpace =  afterSpace.replace("<div>","");
                            afterSpace = afterSpace.replace("</div>","");


                            if(quickRemove(afterSpace.substring(0, afterSpace.indexOf(" "))) != ""){
                                insertString = insertString.substring(0, insertString.indexOf("&")) + quickRemove(afterSpace.substring(0, afterSpace.indexOf(" "))) + "</span>";
                                afterSpace =  afterSpace.substring(afterSpace.indexOf(" "));
                            }

                            console.log("insert " + insertString);

                            if(sentenceNum == 0){
                                quill.setHTML(insertString + afterSpace);
                            } else {
                                quill.setHTML(firstPart + insertString + afterSpace);
                            }
                        }
                        

                        console.log("--sen search");
                        checkWordsInSentence(sentenceNum);
                        console.log("end sen search");
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {

                    }
                });

            }

            function removeEmptyElems(str){
                var ret = str;

                var valid = true;
                var caughtIndex = 0;

                for(var i = 0; i < ret.length; i++){
                    console.log("char at i -- " + ret.charAt(i));

                    if((ret.charAt(i) == 'i' || ret.charAt(i) == 's') && i > 0 && ret.charAt(i - 1) == '<'){
                        console.log("!");
                        i++;
                        while(i < ret.length - 1 && (ret.substring(i, i + 2) != "i>" || ret.substring(i, i + 2) != "n>")) i++;
                        i++;
                    } else if(valid == true && ret.charAt(i) == '>'){
                        console.log("non closed");
                        ret = ret.substring(i + 1);
                    } else if (ret.charAt(i) == '>'){
                        console.log("closed");
                        ret = ret.substring(0, caughtIndex) + ret.substring(i + 1);
                        valid = true;
                    }else if(ret.charAt(i) == '<'){
                        console.log("start");
                        valid = false;
                        caughtIndex = i;
                    }

                }

                return ret;
            }




            function quickRemove(str){
                var ret = "";
                var valid = true;

                for(var i = 0; i < str.length; i++){
                    if(str.charAt(i) == '<'){
                        valid = false;
                    } else if(str.charAt(i) == '>'){
                        valid = true;
                    } else{
                        if(valid) ret += str.charAt(i);
                    }
                }
                return ret;
            }



            function checkWordsInSentence(sentenceNum){
                var text = quill.getText();
                var start = 0;
                var count = 0;
                if(sentenceNum > 0) {
                    for(start = 0; start < text.length; start++){
                        if(text.charAt(start) == '.' && start + 1 == text.length || (text.charAt(start) == '.' && (start + 1 < text.length && (/\s/.test(text.charAt(start + 1)))))){
                            count++;
                            if(count == sentenceNum) break;
                        }
                    }
                }
                var end = start + 1;

                for(end = start + 1; end < text.length; end++){
                    if((text.charAt(end) == '.' && end + 1 == text.length) || (text.charAt(end) == '.' &&  (end + 1 < text.length && (/\s/.test(text.charAt(end + 1)))))){
                        break;
                    }
                }

                quill.formatText(start, end + 1, 'underline', false);

                for(var i = start + 2; i < end; i++){
                    if(/\s/.test(text.charAt(i + 1)) || i + 1 == end){
                        findContainedWord(i);
                    }
                }



            }

            //http://www.creativejuiz.fr/blog/en/javascript-en/read-url-get-parameters-with-javascript
            function $_GET(param) {
                var vars = {};
                window.location.href.replace(
                        /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                        function( m, key, value ) { // callback
                            vars[key] = value !== undefined ? value : '';
                        }
                );

                if ( param ) {
                    return vars[param] ? vars[param] : null;
                }
                return vars;
            }

            function acceptWord(word, grade){
                switchSpinner();
                jsRoutes.controllers.SimplePassageController.acceptWord(word, grade, @passageId).ajax({
                    success : function(data) {
                        //window.location.reload();
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {
                        window.location.reload();
                    }
                });
            }

            function replaceWord(word, replacement){
                jsRoutes.controllers.SimplePassageController.replaceWord(@passageId, word, replacement).ajax({
                    success : function(data) {
                        //window.location.reload();
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {
                        window.location.reload();
                    }
                });
            }


            function underlineSpecificWords(words){

                var text = quill.getText();

                for(var i = 0; i < words.length; i++){
                    var currentText = text;
                    var word = words[i];
                    var index = text.indexOf(word);

                    while(index != -1){
                        var offset = text.length - currentText.length;
                        quill.formatText(index + offset, index + offset + word.length, 'underline', true);
                        currentText = currentText.substring(index + word.length);
                        index = currentText.indexOf(word);
                    }
                }
            }


            function updateSynonymnList(string, arr){
                arr = JSON.parse(arr);
                var leftPanel = document.getElementById("left-panel");


                if(window.getComputedStyle(leftPanel).display === 'none'){
                    $("#left-panel-link").click();

                }


                var upperDiv = '<div id="title" style="max-width: 100%;"><h1 style="font-size:1.5em">' + string + '</h1></div>';

                var approvalDiv = "<div id='accept'><button class='btn btn-primary' onclick='acceptWord(\"" + string + "\", " + $_GET('grade') + ");'>This is okay!</button></div><br>";

                var synonymnDiv = "<div class='container-fluid'> <div id='list'>";

                if(arr.length == 0){
                    synonymnDiv += "This word is too complicated, <br> but we don't have any suggestions for you yet.";
                } else {
                    //http://stackoverflow.com/questions/14572413/remove-line-breaks-from-start-and-end-of-string
                    //http://stackoverflow.com/questions/22036576/why-does-the-javascript-string-whitespace-character-nbsp-not-match
                    // var synonymnList = document.getElementById(string).innerText.trim("/\r?\n|\r/g").split(String.fromCharCode(160));


                    var ran = false;
                    for(var i = 0; i < arr.length; i++){
                        ran = true;
                        synonymnDiv += i + ". <span onclick='replaceWord(\"" + string + "\", \"" + arr[i] + "\");' style='background-color: gray;'><h3>" + arr[i] + "</h3></span><br>";
                    }

                    if(!ran){
                        synonymnDiv += "This word is too complicated, <br> but we don't have any <br> suggestions for you yet.";
                    }


                }

                synonymnDiv += "</div></div><br><button id='close-panel-bt' class='btn btn-primary' onclick='$.panelslider.close();'>Close Planel</button>";

                leftPanel.innerHTML = upperDiv + approvalDiv + synonymnDiv;
            }

            function getSuggestions(word){
                jsRoutes.controllers.SimplePassageController.getSuggestions(word).ajax({
                    success : function(data) {
                        console.log(data);
                        updateSynonymnList(word, data);
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {

                    }
                });
            }

            $('a#analyzePassages').click(function() {

                saveHtml(quill.getHTML());
                var button = $(this);
                button.toggleClass('active');

                var result = confirm("Are you sure you want to analyze this passage? This may take a couple minutes");

                if (result) {
                    switchSpinner();
                    jsRoutes.controllers.SimplePassageController.analyzeSingularPassage(@passageId).ajax({
                        success : function(data) {
                            window.location.reload();
                            switchSpinner();
                        },
                        error : function(err) {
                            //window.location = "";
                        }
                    });
                }

            });

            function changeVis(){
                jsRoutes.controllers.SimplePassageController.changeVisibility(@passageId).ajax({
                    success : function(data) {
                        window.location.reload();
                    },
                    error : function(err) {
                        //window.location = "";
                    }
                });
            }

            function switchSpinner(){
                var on = "glyphicon glyphicon-refresh glyphicon-spin";
                var off = "glyphicon glyphicon-refresh";

                var elem = document.getElementById("spinner");

                if(elem.className.substring(elem.className.length - 4) == "spin") elem.className = off;
                else elem.className = on;
            }


            $( document ).ready(function() {

                // http://stackoverflow.com/questions/24309803/playframework-jsvalue-in-html-template
                underlineSpecificWords(@Html(Json.stringify(Json.toJson(SimplePassage.byId(passageId).text.split(" ").toList.distinct.filter(p => (Word.byRawString(p) != null && Word.byRawString(p).ageOfAcquisition > (grade + 6)) && !SimplePassage.byId(passageId).getStopWords().contains(p))))));


                //http://stackoverflow.com/questions/17636043/cannot-add-click-events-to-list-items
                // locate your element and add the Click Event Listener

                function isEmpty( el ){
                    return !$.trim(el.html())
                }


                //http://stackoverflow.com/questions/1206203/how-to-distinguish-between-left-and-right-mouse-click-with-jquery
                //http://jsfiddle.net/Kn9s7/5/
                $(document).on("contextmenu", "u", function(e){
                    var string = $(this).html();
                    getSuggestions(string);
                    return false;
                });

            });


            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })



            function showJustification(grade){

                grade = Math.ceil(grade);

                var alertString = "Hey, this sentence looks more appropriate for a ";
                if(grade == 0) alertString += "Kindergarten Reader";
                else if(grade < 13) alertString += "Grade " + grade + " Reader";
                else alertString += "a College Level Reader";




                alert(alertString);
            }


            $( "#dialog-2" ).dialog({
                autoOpen: true,
                buttons: {
                    OK: function() {$(this).dialog("close");}
                },
                title: "Success",
                position: {
                    my: "left center",
                    at: "left center"
                }
            });
            $( "#opener-2" ).click(function() {
                $( "#dialog-2" ).dialog( "open" );
            });


    </script>

}