@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/png" href="">
        <script src="/assets/javascripts/hello.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


        <style>
            /* https://getbootstrap.com/examples/sticky-footer/ */

            html {
                position: relative;
                min-height: 100%;
            }
            body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
            }
            footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
            }
        </style>



    <!-- CODE FROM BOOTSTRAP -->
        <nav class="navbar navbar-inverse" style="background-color: transparent;">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>


                    </button>
                    <a class="navbar-brand" href="#">EasyRead</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @if(session.get("userFirstName") != null){
                            <li><a href="@routes.SimplePassageController.viewAllPassages">All Passages</a></li>
                            <li><a href="@routes.SimplePassageController.createSimplePassage()">Add a Passage</a></li>
                            <li><a href="@routes.Application.logout">Logout</a></li>
                        } else {
                            <li><a href="@routes.Application.login()">Log In</a></li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </head>
    <body class="has-drawer" style="padding-left: 10px; padding-right: 10px">
        <div class="container">
            @content
        </div>

    </body>


    <footer class="footer">
        <div class="container">
            <p class="text-muted">Based on templates from Bootstrap <a href="http://getbootstrap.com">Bootstrap</a></p>
            <p class="text-muted">Project by: Malcolm Goldiner</p>
        </div>
    </footer>
</html>
