@import scala.reflect.runtime.universe._

@(passage: models.SimplePassage, instructor: models.User, suggestionsOn: Boolean)

@main("Viewing Passage") {

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <h2>Done!</h2> @flash.get("success")
        </div>
    }

    <div class="holder" style="padding-bottom: 4cm ;">
        <div class="pull-left">

            <div class="btn-group">

                <a class="btn btn-primary" id="add" href="/setNumQ?passageId=@passage.id" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add new Questions
                </a>
                @if(passage.questions.size > 0) {

                    <a class="btn btn-primary" id="view" href="/viewPassageQuestions?passageId=@passage.id" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-book"></i>
                        View Passage Questions
                    </a>
                }

                <a class="btn btn-primary" id="add" href="@routes.SimplePassageController.edit(passage.id)" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-edit"></i>
                    Edit this Passage
                </a>

                <a class="btn btn-primary" id="toggle" href="viewPassageWithSuggestions?passageId=@passage.id&grade=0" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-flash"></i>
                    Turn on Suggestions
                </a>

                <a class="btn btn-primary" id="sentenceDepth" href="@routes.SimplePassageController.viewPassageDeepAnalysis(passage.id)" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-equalizer"></i>
                    Deep Analysis
                </a>

                <br>


                @for(tag <- passage.tags) {


                    <a class="btn btn-primary" id="nav" href="@routes.SimplePassageController.viewAllPassagesWithTag(tag.name)" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-tag"> @tag.name</i>
                    </a>
                }

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div style="text-align:left ;">
            <strong> @passage.title </strong>
            <strong> Added By: </strong> @instructor.firstName @instructor.lastName <br>
            <strong> Grade Level:  </strong> @PassageAnalysisController.displayGrade(passage.grade)
            <br>
            <strong> Source:  </strong> @passage.source <br><br>
        </div>

        <div id="editor">
        </div>
    </div>

        <!-- http://quilljs.com/docs/api -->
        <!-- Include the Quill library -->
    <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>

        <!-- Initialize Quill editor -->
    <script>
            //http://quilljs.com/docs/configuration/
            // http://stackoverflow.com/questions/15409429/how-to-limit-text-width
            //http://www.w3.org/TR/WCAG20-TECHS/C21.html
            //http://blog.usabilla.com/8-guidelines-for-better-readability-on-the-web/



            var configs = {
                readOnly: true,
                theme: 'snow',
                styles: {
                    '.ql-editor' : {
                        'word-wrap': 'break-word',
                        'word-spacing': 'normal',
                        'text-align': 'left',
                        'line-height': '250%',
                        'width': '60%',
                        'font-size': '24'
                    }

                },
                formats: ['size', 'underline']
            };

            var quill = new Quill('#editor', configs);

           @if(passage.html != null){
             quill.setHTML('@Html(passage.html)');
            } else {
            //http://stackoverflow.com/questions/9913971/scala-how-can-i-get-an-escaped-representation-of-a-string
             quill.setText(@Html(Literal(Constant(passage.text)).toString));
            }


            quill.on('selection-change', function(range) {
                console.log("in here");
                if (range) {
                    if (range.start == range.end) {
                        console.log('User cursor is on', range.start);
                    } else {
                        var text = quill.getText(range.start, range.end);
                        console.log('User has highlighted', text);
                    }
                } else {
                    console.log('Cursor not in the editor');
                }
            });

            function alertSuggestions(){
                alert("This word is too complicated for this grade level!");
            }

            function fetchSuggestions(word){

            }

            $(document).ready(function(){

                function isEmpty( el ){
                    return !$.trim(el.html())
                }

                $("u").click(function(){
                    var string = $(this).html();


                    if(document.getElementById(string) == null){
                        alert("This word is too complicated, but we don't have any suggestions for you yet.");
                    }

                    $("#" + string).show();


                });

            });
    </script>
}