@(passages: List[models.SimplePassage], inst: models.User, name: String)

    @main("View All Passages") {

        <!-- Code adapted from browseCourses file -->

        <link rel="stylesheet" type="text/css" href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css'>
        <script type="text/javascript" href='https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js'></script>



            <div id="students" class="box">

                <div class="box-header">
                    <i class="glyphicon glyphicon-group fa-2x"></i>
                    <h5>View All Passages Tagged as @name</h5>
                </div>

                <div class="box-content box-table" style="padding: 10px ;">
                @if(passages.size == 0) {
                    <div class="well">
                        <strong><em>There are no passages matching this tag in the system!</em></strong>
                    </div>
                } else {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Text</th>
                                <th>Instructor</th>
                                <th>Grade</th>
                                <th>Source</th>
                                <th>Tag</th>
                                @if(Long.valueOf(session().get("userId")) == inst.id){
                                    <th>Actions</th>
                                }


                            </tr>
                        </thead>
                        <tbody>
                        @for(passage <- passages) {
                            <tr>

                                @if(Long.valueOf(session().get("userId")) == inst.id){
                                    <td><a href="/editPassageAtGrade?passageId=@passage.id&grade=@passage.grade">@passage.title</a> </td>
                                } else {
                                    <td><a href="/viewPassageAsStudent?passageId=@passage.id&grade=@passage.grade">@passage.title</a> </td>
                                }

                                @if(passage.text.length >= 200) {
                                    <td>
                                    @passage.text.substring(0, 200)




                                    </td>



                                } else {
                                    <td>

                                        @Html(passage.text)....

                                    </td>
                                }

                            <td>@inst.firstName @inst.lastName</td>

                            <td>@if(!passage.analyzed) {
                                Grade Level not available yet.
                            } else {
                                @PassageAnalysisController.displayGrade(passage.grade)
                            }

                            </td>
                            <td>@passage.source</td>


                            <td>
                            @for(tag <- passage.tags) {
                                <a class="btn btn-primary" id="nav" href="@routes.SimplePassageController.viewAllPassagesWithTag(tag.keyword)" style="margin-bottom: 20px ;">
                                    <i class="glyphicon glyphicon-tag"></i> @tag.keyword

                                </a>
                            }
                            </td>
                                @if(Long.valueOf(session().get("userId")) == inst.id) {

                                    <td style="width : 10%">

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-small btn-danger" id="deletePassage" onclick="deletePassage(@passage.id)">
                                                <i class="glyphicon glyphicon-trash"></i> Delete
                                            </button>

                                            <a class="btn btn-primary" onclick="changeVis(@passage.id);">
                                            @if(passage.visibleToStudents){
                                                <i class="glyphicon glyphicon-eye-close"></i>
                                                Hide From Students
                                            } else {
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                                Make Visible to Students
                                            }
                                            </a>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                </div>
            </div>
        </div>



        <script>
                $('button#deletePassage').click(function() {
                    var button = $(this);
                    button.toggleClass('active');

                    var passageData = $(this).attr('name').split(":|:");
                    var passageId = passageData[0];
                    var passageName = passageData[1];

                    console.log(passageId);
                    console.log(passageName);

                    bootbox.confirm("Are you sure you want to delete passage '" + passageName + "'? This cannot be undone.", function(result) {
                        if (result) {
                            button.prop("disabled", true);
                            jsRoutes.controllers.SimplePassageController.deletePassage(passageId).ajax({
                                success : function(data) {
                                    window.location.reload();
                                },
                                error : function(err) {
                                    //window.location = "";
                                }
                            });
                        } else {
                            button.toggleClass('active');
                        }
                    });
                });
        </script>

    }
