@(passage: models.SimplePassage)



@main("Viewing Passage Deeper Analysis") {

    <div class="container">

        <div class="pull-left">

            <div class="btn-group">

                <a class="btn btn-primary" id="add" href="/setNumQ?passageId=@passage.id" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add new Questions
                </a>
                @if(passage.questions.size > 0) {

                    <a class="btn btn-primary" id="view" href="/viewPassageQuestions?passageId=@passage.id" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-book"></i>
                        View Passage Questions
                    </a>
                }
                <a class="btn btn-primary" id="add" href="@routes.SimplePassageController.edit(passage.id)" style="margin-bottom: 20px ;">
                    <i class="glyphicon glyphicon-edit"></i>
                    Edit this Passage
                </a>


                @for(tag <- passage.tags) {


                    <a class="btn btn-primary" id="nav" href="@routes.SimplePassageController.viewAllPassagesWithTag(tag.name)" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-tag"> @tag.name</i>

                    </a>
                }

            </div>
        </div>
    </div>

    <div class="container-fluid">


        <div>

            <span class="label label-default" id="Suggestions"></span>


            <div class="container">
                <h1> @passage.title </h1>
                <strong> Displaying at Grade Level:  </strong>   @PassageAnalysisController.toGrade(passage.grade)
                <br>
                <strong> Source:  </strong> @passage.source <br><br>
            </div>

            <strong> Each number corresponds to two sentences in the text </strong> <br>

            So, 1. --> Sentences 1 and 2

            <ol>


            @for(diff <- passage.sentenceBreakdown()) {

                <li>

                    <div>


                    @if(Double.valueOf(diff.split(" ").apply(1)) <= passage.grade) {
                        <span class="label label-primary">Just Right</span>
                        <a  href="@routes.SimplePassageController.viewPassageSentenceDrilldown(passage.id, Integer.valueOf(diff.split(" ")(0)))">
                            Look Anyway
                        </a>
                    } else {

                        <span class="label label-danger">Too Hard</span>

                        This passage's average grade level is @passage.grade and sentences @(Integer.valueOf(diff.split(" ")(0))-2) - @Integer.valueOf(diff.split(" ")(0)) have some words that are a little tough.

                        <a  href="@routes.SimplePassageController.viewPassageSentenceDrilldown(passage.id, Integer.valueOf(diff.split(" ")(0)))">
                           Dive In
                        </a>

                    }
                    </div>

                </li>
            }
            </ol>

        </div>
    </div>

}