@(passageId : Long, grade: Int, sentences: String)



@main("Viewing Sentnece") {


    <div>
        <a class="btn btn-primary" id="sentenceDepth" href="@routes.SimplePassageController.viewPassageDeepAnalysis(passageId)" style="margin-bottom: 20px ;">
            <i class="glyphicon glyphicon-equalizer"></i>
            Back to Deep Analysis
        </a>
        <a class="btn btn-primary" id="add" href="@routes.SimplePassageController.edit(passageId)" style="margin-bottom: 20px ;">
            <i class="glyphicon glyphicon-edit"></i>
            Edit this Passage
        </a>


    </div>






    <div class="container-fluid">

        <div style="margin-bottom: 10px">


            The two sentences displayed below give more precise information on why certain words are underlined by EasyRead.
            All the words that you see underlined elsewhere in the system will appear in red with their estimated grade level
            so that you can understand exactly how much of an outlier a certain word is.
        </div>

    @for(word <- sentences.replace(".", " ").split(" ")) {
        @if(Word.byRawString(word) == null || (Word.byRawString(word) != null && (Word.byRawString(word).ageOfAcquisition <= grade + 6 || Word.isStopWord(Word.byRawString(word)))) || Suggestion.byWord(word).size() == 0) {
            <span class="label label-success">@word</span>
        } else {
            <span class="label label-danger">@word<span class="badge"> @PassageAnalysisController.toGrade(Word.byRawString(word).ageOfAcquisition)</span></span>
        }

        &nbsp
    }
    </div>



    <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>


    <script>
            //http://www.creativejuiz.fr/blog/en/javascript-en/read-url-get-parameters-with-javascript
            function $_GET(param) {
                var vars = {};
                window.location.href.replace(
                        /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                        function( m, key, value ) { // callback
                            vars[key] = value !== undefined ? value : '';
                        }
                );

                if ( param ) {
                    return vars[param] ? vars[param] : null;
                }
                return vars;
            }

    </script>

}