@import play.api.libs.json.Json
@import scala.reflect.runtime.universe._

@(passage: models.SimplePassage, instructor: models.User, suggestionsOn: Boolean)



    @main("Viewing Passage") {

        <style type="text/css">
        /*This entire example and the sliders are from  https://github.com/eduardomb/jquery-panelslider */
        .panel {
        display: none ;
        width: 20% ;
        overflow-y: scroll ;
        overflow-x:scroll ;
        padding: 20px ;
        background-color: #333 ;
        color: #fff ;
        box-shadow: inset 0 0 5px 5px #222 ;
        }


        </style>


            <!-- Left panel -->
        <div id="left-panel" class="panel" style="overflow-y:scroll"></div>

        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
                <h2>Done!</h2> @flash.get("success")
            </div>
        }


        <a id="left-panel-link" class="btn btn-primary" href="#left-panel" style="display: none ;">
            <i class="glyphicon glyphicon-edit"> Left Panel</i>
        </a>


        <div class="container">

            <div class="pull-left">

                <div class="btn-group">

                    <a class="btn btn-primary" id="add" href="/setNumQ?passageId=@passage.id" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add new Questions
                    </a>
                    @if(passage.questions.size > 0) {

                        <a class="btn btn-primary" id="view" href="/viewPassageQuestions?passageId=@passage.id" style="margin-bottom: 20px ;">
                            <i class="glyphicon glyphicon-book"></i>
                            View Passage Questions
                        </a>
                    }
                    <a class="btn btn-primary" id="add" href="@routes.SimplePassageController.edit(passage.id)" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit this Passage
                    </a>

                    @for(tag <- passage.tags) {


                        <a class="btn btn-primary" id="nav" href="@routes.SimplePassageController.viewAllPassagesWithTag(tag.name)" style="margin-bottom: 20px ;">
                            <i class="glyphicon glyphicon-tag"> @tag.name</i>

                        </a>
                    }

                    <a class="btn btn-primary" id="toggle" href="view?passageId=@passage.id&grade=0" style="margin-bottom: 20px ;">
                        <i class="glyphicon glyphicon-flash"></i>
                        Turn off Suggestions
                    </a>


                </div>
            </div>

            <div class="pull-right">


                <div class="btn-group">
                    <h5>Choose The Grade Level this passage should be displayed at</h5>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">

                            Grade

                            @PassageAnalysisController.displayGrade(passage.grade)
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=0">K</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=1">1</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=2">2</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=3">3</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=4">4</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=5">5</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=6">6</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=7">7</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=8">8</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=9">9</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=10">10</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=11">11</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=12">12</a></li>
                            <li><a href="viewPassageWithSuggestions?passageId=@passage.id&grade=13">College</a></li>
                        </ul>
                    </div>


                </div>


            </div>


        </div>



        <div class="container-fluid">


            <div>

                <span class="label label-default" id="Suggestions"></span>


                <div class="container">
                    <h1> @passage.title </h1>

                    <strong> Added By: </strong> @instructor.firstName @instructor.lastName <br>
                    <strong> Displaying at Grade Level:  </strong>  @PassageAnalysisController.toGrade(passage.grade)
                    <br>
                    <strong> Source:  </strong> @passage.source <br><br>


                </div>


               <div id="editor">
               </div>
            </div>
        </div>

        <script src="/assets/js/jquery.panelslider.min.js"></script>
        <script>
                $('#left-panel-link').panelslider({side: 'left', clickClose: false, duration: 200 });
                $('#right-panel-link').panelslider({side: 'right', clickClose: false, duration: 200 });

                $('#close-panel-bt').click(function() {
                    $.panelslider.close();
                });
        </script>




    <script src="//cdn.quilljs.com/0.20.1/quill.js"></script>




    <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

    <script>


            function alertSuggestions(){
                alert("This word is too complicated for this grade level!");
            }

            function fetchSuggestions(){
                underlineSpecificWords(@Html(Json.stringify(Json.toJson(passage.text.split(" ").toList.distinct.filter(p => (Word.byLemma(p) != null && Word.byLemma(p).ageOfAcquisition > (passage.grade + 6) && !passage.getStopWords().contains(p)))))));
            }

            function underlineSpecificWords(words){

                var text = quill.getText();

                for(var i = 0; i < words.length; i++){
                    var currentText = text;
                    var word = words[i];
                    var index = text.indexOf(word);

                    while(index != -1){
                        console.log(index);
                        var offset = text.length - currentText.length;
                        quill.formatText(index + offset, index + offset + word.length, 'underline', true);
                        currentText = currentText.substring(index + word.length);
                        index = currentText.indexOf(word);
                    }
                }

                quill.formatText(0, quill.getText().length, "size", 20);
            }


            //http://www.creativejuiz.fr/blog/en/javascript-en/read-url-get-parameters-with-javascript
            function $_GET(param) {
                var vars = {};
                window.location.href.replace(
                        /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                        function( m, key, value ) { // callback
                            vars[key] = value !== undefined ? value : '';
                        }
                );

                if ( param ) {
                    return vars[param] ? vars[param] : null;
                }
                return vars;
            }

            function acceptWord(word){
                jsRoutes.controllers.SimplePassageController.acceptWord(word.id,$_GET('grade')).ajax({
                    success : function(data) {
                        //window.location.reload();
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {
                        window.location.reload();
                    }
                });
            }

            function getSentences(length){
                jsRoutes.controllers.SimplePassageController.beginSentenceBreakdown(@passage.id).ajax({
                    success : function(data) {
                        console.log(data);
                        highlightDifficultAreas(JSON.parse(data));


                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {
                    }
                });
            }

            function highlightDifficultAreas(arr, numUnderlines){

                var html = quill.getHTML();
                var offset = 0;
                for(var i = 0; i + 1 < arr.length; i+= 2){

                    if(arr[i] > 0 && arr[i] < html.length){
                        html = html.substring(0, arr[i] + offset) + "<span class='glyphicon glyphicon-exclamation-sign'>" + html.substring(arr[i] + offset);
                        offset += "<span class='glyphicon glyphicon-exclamation-sign'>".length;
                        html = html.substring(0, arr[i + 1] + offset) + "</span> " + html.substring(arr[i + 1] + offset);
                        offset += 7;
                    }
                }

                quill.setHTML(html);

            }


            function replaceWord(word, replacement){
                jsRoutes.controllers.SimplePassageController.replaceWord(@passage.id, word, replacement).ajax({
                    success : function(data) {
                        //window.location.reload();
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {
                        window.location.reload();
                    }
                });
            }


            function updateSynonymnList(string, arr){
                arr = JSON.parse(arr);
                var leftPanel = document.getElementById("left-panel");


                if(window.getComputedStyle(leftPanel).display === 'none'){
                    console.log("doing this");

                    $("#left-panel-link").click();

                }





                var upperDiv = '<div id="title"><h1>' + string + '</h1></div>';
                var approvalDiv = "<div id='accept'><button class='btn btn-primary' onclick='acceptWord(" + string + ", " + $_GET('grade') + ");'>This is okay!</button></div><br>";

                var synonymnDiv = "<div class='container-fluid'> <div id='list'>";

                if(arr.length == 0){
                    synonymnDiv += "This word is too complicated, <br> but we don't have any suggestions for you yet.";
                } else {
                    //http://stackoverflow.com/questions/14572413/remove-line-breaks-from-start-and-end-of-string
                    //http://stackoverflow.com/questions/22036576/why-does-the-javascript-string-whitespace-character-nbsp-not-match
                    // var synonymnList = document.getElementById(string).innerText.trim("/\r?\n|\r/g").split(String.fromCharCode(160));


                    var ran = false;
                    for(var i = 0; i < arr.length; i++){
                        ran = true;
                        synonymnDiv += i + ". <span onclick='replaceWord(\"" + string + "\", \"" + arr[i] + "\");' style='background-color: gray;'><h3>" + arr[i] + "</h3></span><br>";
                    }

                    if(!ran){
                        synonymnDiv += "This word is too complicated, <br> but we don't have any <br> suggestions for you yet.";
                    }


                }

                synonymnDiv += "</div></div><br><button id='close-panel-bt' class='btn btn-primary' onclick='$.panelslider.close();'>Close Planel</button>";

                leftPanel.innerHTML = upperDiv + approvalDiv + synonymnDiv;
            }

            function getSuggestions(word){
                jsRoutes.controllers.SimplePassageController.getSuggestions(word).ajax({
                    success : function(data) {
                        console.log(data);
                        updateSynonymnList(word, data);
                    },
                    error : function(err) {
                        //window.location = "";
                    },
                    complete : function() {

                    }
                });
            }





            $(document).ready(function(){

                //http://stackoverflow.com/questions/17636043/cannot-add-click-events-to-list-items
                // locate your element and add the Click Event Listener

                function isEmpty( el ){
                    return !$.trim(el.html())
                }



                //http://quilljs.com/docs/configuration/
                // http://stackoverflow.com/questions/15409429/how-to-limit-text-width
                var configs = {
                    readOnly: true,
                    theme: 'snow',
                    styles: {
                        '.ql-editor' : {
                            'word-wrap': 'break-word',
                            'word-spacing': 'normal',
                            'text-align': 'left',
                            'line-height': '250%',
                            'width': '60%'
                        }

                    },
                    formats: ['size', 'underline', 'background']
                };

                /*
                 if(passage.html.length == passage.text.length){
                 passage.text
                 } else{
                 Html(passage.html)
                 }
                 */

                var quill = new Quill('#editor', configs);


                //http://stackoverflow.com/questions/9913971/scala-how-can-i-get-an-escaped-representation-of-a-string
                quill.setHTML(@Html(Literal(Constant(PassageText.bySimplePassageAndGrade(passage.id, passage.grade).html)).toString));





                quill.on('selection-change', function(range) {
                    console.log("in here");
                    if (range) {
                        if (range.start == range.end) {
                            console.log('User cursor is on', range.start);
                        } else {
                            var text = quill.getText(range.start, range.end);
                            console.log('User has highlighted', text);
                        }
                    } else {
                        console.log('Cursor not in the editor');
                    }
                });



                //http://stackoverflow.com/questions/1206203/how-to-distinguish-between-left-and-right-mouse-click-with-jquery
                //http://jsfiddle.net/Kn9s7/5/
                $(document).on("contextmenu", "u", function(e){
                    var string = $(this).html();
                    getSuggestions(string);
                    return false;
                });


/*
                $("u").click(function(){
                    var string = $(this).html();
                    getSuggestions(string);
                });
 */
            });




        </script>


    }